<md-card>
    <form>
        <md-card-content>
            <md-toolbar>Login</md-toolbar>

            <div class="flexContainer">
                <md-input-container md-no-float>
                    <input mdInput placeholder="Email" />
                </md-input-container>
                <md-input-container md-no-float>
                    <input mdInput placeholder="password" />
                </md-input-container>
                <a href="#">
                    <h4>Forgot Password ?</h4>
                </a>
            </div>

        </md-card-content>
        <md-card-actions align="end">
            <button md-button md-raised-button type="submit" color="primary">Login</button>


        </md-card-actions>
    </form>
</md-card>