<md-card>
    <form (ngSubmit)="Login(email.value,password.value)">
        <md-card-content>
            <md-toolbar>Login</md-toolbar>

            <div fxLayout="column" fxLayoutGap="10px" style="padding: 16px;">
                <md-input-container md-no-float>
                    <input mdInput placeholder="Email" name="email" #email/>
                </md-input-container>
                <md-input-container md-no-float>
                    <input mdInput placeholder="password" name="password" #password/>
                </md-input-container>
                <a href="#">
                    <h4>Forgot Password ?</h4>
                </a>
            </div>

        </md-card-content>
        <md-card-actions align="end">
            <button md-button md-raised-button type="submit" color="primary">Login</button>


        </md-card-actions>
    </form>
</md-card>