<md-card>
    <md-card-content>

        <md-toolbar>Buttons</md-toolbar>
        <h3>Simple Buttons:</h3>
        <div style="display: flex;padding:10px 16px">
            <div style="flex:1">
                <button md-button>Default</button>
                <button md-raised-button>Raised Button</button>
            </div>
            <div style="flex:1">
                <button md-raised-button color="primary">Primary</button>
                <button md-raised-button color="accent">Accent</button>
                <button md-raised-button color="warn">Warn</button>

            </div>
        </div>
        <h3>Icon Buttons :</h3>
        <div style="display:flex;padding:10px 16px">

            <div>
                <button md-icon-button><md-icon>favorite_border</md-icon></button>
                <button md-icon-button color="primary"><md-icon>favorite_border</md-icon></button>
                <button md-icon-button color="accent"><md-icon>favorite_border</md-icon></button>
                <button md-icon-button color="warn"><md-icon>favorite_border</md-icon></button>
                <button md-icon-button><md-icon>favorite</md-icon></button>
                <button md-icon-button color="warn"><md-icon>face</md-icon></button>
            </div>
            <div></div>
        </div>

        <h3>Fab Buttons :</h3>
        <div style="display:flex;padding:10px 16px">

            <div>
                <button md-fab color="accent"><md-icon>favorite</md-icon></button>
                <button md-mini-fab><md-icon>home</md-icon></button>
            </div>
            <div></div>
        </div>
        <h3>Buttons With Icon and Labels :</h3>
        <div style="display:flex;padding:10px 16px">

            <div>
                <button md-button color="warn"><md-icon>favorite</md-icon></button>
                <button md-button color="primary"><md-icon>favorite</md-icon>Default</button>
                <button md-raised-button color="primary"><md-icon>favorite_border</md-icon>Default</button>
                <button md-raised-button color="primary"><md-icon>favorite</md-icon>Default</button>
            </div>
            <div></div>
        </div>
    </md-card-content>
</md-card>