<div layout="row">
    <button md-button color="primary" (click)="toggleConfigFullscreenDemo()" class="text-upper">Toggle Loader</button>
</div>
<td-layout mode="side" align="start" [opened]="false" #sidebar>
    <div td-sidenav-content>
        <img src="https://angular.io/assets/images/logos/angular/angular.svg" />
        <td-expansion-panel-group>
            <td-expansion-panel label="Components">
                <div class="innerMenuItem">
                    <button md-raised-button [routerLink]="['buttons']" routerLinkActive="active-link">Buttons</button>
                </div>
                <div class="innerMenuItem">
                    <button md-raised-button [routerLink]="['card']" routerLinkActive="active-link">Cards</button>
                </div>
                <div class="innerMenuItem">
                    <button md-raised-button [routerLink]="['home']" routerLinkActive="active-link">Datatables</button>
                </div>

            </td-expansion-panel>
            <td-expansion-panel label="Pages">
                <div class="innerMenuItem">
                    <button md-raised-button [routerLink]="['login']" routerLinkActive="active-link">Login</button>
                </div>
                <div class="innerMenuItem">
                    <button md-raised-button [routerLink]="['signup']" routerLinkActive="active-link">Signup</button>
                </div>
            </td-expansion-panel>

        </td-expansion-panel-group>
    </div>
    <td-layout-nav toolbarTitle="Home">
        <div (swipeleft)="sidebar.toggle()" (swiperight)="sidebar.toggle()">
            <router-outlet></router-outlet>
        </div>
    </td-layout-nav>

</td-layout>