<md-card>
    <md-card-content>

        <md-toolbar>
            Users
            <div *ngIf="operation" layout-align="end" style="margin-left: 82%;"><button md-icon-button color="warn" (click)="openConfirm()"><md-icon>close</md-icon></button>
                <button md-icon-button color="accent" (click)="openAlert()"><md-icon>edit</md-icon></button>
            </div>
        </md-toolbar>
        <td-search-box backIcon="arrow_back" placeholder="Search here" [showUnderline]="false" [debounce]="500" [alwaysVisible]="false">
        </td-search-box>
        <td-data-table #dataTable [data]="filteredData" [columns]="columns" [selectable]="true" [multiple]="false" [sortable]="true" [sortBy]="sortBy" [sortOrder]="'ASC'" (sortChange)="sortEvent($event)" (rowSelect)="selectEvent($event)">
        </td-data-table>
        <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
            <h3>No results to display.</h3>
        </div>
        <td-paging-bar #pagingBar [pageSizes]="[5, 10, 15, 20]" [total]="filteredTotal" (change)="page($event)">
            <span td-paging-bar-label hide-xs>Row per page:</span> {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
        </td-paging-bar>

        <hr/>

        <!--<ng2-smart-table [settings]="settings" [source]="userData"></ng2-smart-table>-->
    </md-card-content>
</md-card>