<md-card>
    <form>
        <md-card-content>
            <md-toolbar>Signup</md-toolbar>

            <div class="flexContainer">
                <div class="flexInner">
                    <md-input-container class="flexInput">
                        <input mdInput placeholder="First Name" />
                    </md-input-container>
                    <md-input-container class="flexInput">
                        <input mdInput placeholder="Last Name" />
                    </md-input-container>
                </div>
                <md-input-container>
                    <input mdInput placeholder="Email" />
                </md-input-container>
                <div class="flexInner">
                    <md-input-container style="flex:1">
                        <input mdInput placeholder="Age" type="number" />
                    </md-input-container>
                    <md-input-container style="flex:2">
                        <input mdInput placeholder="Mobile" />
                    </md-input-container>
                </div>
                <md-input-container>
                    <input mdInput placeholder="password" />
                </md-input-container>

            </div>
        </md-card-content>
        <md-card-actions align="end">
            <button md-button md-raised-button type="submit" color="primary">Signup</button>
            <button md-raised-button type="reset">Reset</button>

        </md-card-actions>
    </form>
</md-card>